@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

html {
    font-size: 62.5%;
}

header {
    padding: 2em 0;
}

header label {
    background: rgba(188, 188, 188, 0.4);
    padding: 0 3em;
    height: 46px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s;
}

header label:hover {
    background: rgba(162, 162, 162, 0.4);
}

header label input[type="text"] {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

::placeholder {
    color: rgb(255, 255, 255);
}

header label button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0 20px;
    height: 100%;
}

header label button i {
    font-size: 16px;
    color: #fff;
}

header .account {
    border-radius: 15px;
    background: rgba(254, 254, 254, 0.4);
    width: 192px;
    height: 34px;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .account .profile_picture {
    width: 30px;
    height: 30px;
}

header .account .profile_picture img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

header .account p {
    margin: 0;
    color: #12222A;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.registration button {
    cursor: pointer;
    position: relative;
    padding: 8px 28px;
    font-size: 18px;
    border: 2px solid rgba(220, 220, 220, 0.5);
    border-radius: 10px;
    background-color: transparent;
    font-weight: 500;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.registration button:nth-child(2) {
    cursor: pointer;
    position: relative;
    padding: 8px 28px;
    font-size: 18px;
    border: 2px solid rgba(220, 220, 220, 0.5);
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.5);
    font-weight: 500;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.registration button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgba(242, 242, 242, 0.5);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.registration button:hover::before {
    scale: 3;
}

.registration button a {
    text-decoration: none;
    list-style: none;
    color: #ccc;
    transition: .6s;
}

.registration button:nth-child(2) a {
    color: #000000;
    transition: .6s;
}

.registration button:hover a{
    color: #2b2a2a;
    scale: 1.1;
}

.registration button:active {
    scale: 1;
}

.row {
    --bs-gutter-x: 0;
}